#bloks {
  width:300px;
  height:200px;
  background-color:red;
  background:linear-gradient(to right, yellow,red);
  border-top-left-radius:30px;
  border-bottom-right-radius:30px;
}

#bloks > p {
  text-align:center;
  padding-top:10px;
}

mark {
  color:white;
  background-color:black;
}

#aplis {
  width:200px;
  height:100px;
  border-radius:50%;
  background:radial-gradient(green,blue);
}

table {
  border-collapse:collapse;
}

tr, td {
  padding:5px;
  border:1px solid black;
}